  <footer id="footer">
    <div class="footer-container">
      <div class="footer-boxes">
        <div class="footer-inner">
          <div class="footer-box fb1">
            <div>
              <h3>ABOUT</h3>
            </div>
            <div>
              <p>LFC enables individuals to reach their full potential by
                providing low-cost computers and computer
                literacy classes to local low-income families,
                while providing volunteers the opportunity to learn and explore technology through their service to the
                community.
              </p>
            </div>
            <div class="social-media">
              <a href="https://www.youtube.com/user/LoavesFishesComputer" class="fab fa-youtube" target="_blank"></a>
              <a href="https://www.facebook.com/loavesfishescomputers" class="fab fa-facebook" target="_blank"></a>
              <a href="https://www.instagram.com/lfc.salinasca/" class="fab fa-instagram" target="_blank"></a>
              <a href="https://www.linkedin.com/company/loaves-fishes-&-computers-inc-/about/" class="fab fa-linkedin" target="_blank"></a>
            </div>
          </div>
          <div class="footer-box fb2">
            <div>
              <h3>CONTACT</h3>
            </div>
            <address>
              <p>938 S Main St.</p>
              <p>Salinas, CA 93901</p>
              <p>(831) 393-9260</p>
              <p>Open: Tuesday - Saturday</p>
              <p>Hours: 10AM - 4PM</p>
            </address>
          </div>
          <div class="footer-box fb3">
            <div>
              <h3>INFO</h3>
            </div>
            <div class="info">
              <a href="/staff">Staff</a>
              <a href="/mission">Mission</a>
              <a href="/recruitment">Recruitment</a>
            </div>
          </div>
          <div class="footer-box fb4">
            <div>
              <h3>QUICK LINKS</h3>
            </div>
            <div class="info">
              <a href="https://lfc.harnessapp.com/wv2/donate?checkout=2370" target="blank">Donate money</a>
              <a href="https://www.loavesfishescomputers.org/donate.html" target="blank">Donate computers</a>
              <a href="https://www.loavesfishescomputers.org" target="blank">LFC website</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <div id="extra-bottom-footer">
    <i class="far fa-copyright"></i>
    <p>LFC. All Rights Reserved.</p>
  </div>

</body>

</html>