<%- include("partials/header.ejs") %>

<!-- MODAL -->
<div id="modal-overlay">
  <div id="modal">
    <div class="modal-box-1">
      <i class="fas fa-desktop"></i>
      <h1>LFC</h1>
    </div>
    <form action="/auth/apply-email-mission" method="POST" id="apply-form" class="modal-box-2">
      <div class="flex">
        <h1>APPLY TODAY!</h1>
        <i class="fas fa-times" id="close-modal-btn"></i>
      </div>
      <p>Send us your information and a staff member will contact you soon.</p>
      <input type="text" name="full_name" id="full-name" placeholder="Full name" maxlength="30" required>
      <input type="text" name="phone" id="phone" placeholder="Phone" maxlength="12" required>
      <input type="email" name="email" id="email" placeholder="Email" maxlength="100" required>
      <button type="submit" class="g-recaptcha" data-sitekey="6LfNj-keAAAAACbPznMW6DDIxOGjMpOB6IgCAU39"
        data-callback="applyFormRequest">SUBMIT</button>
      <% if(typeof success !="undefined" && success) { %>
        <div class="alert-message-success">
          <%= message %>
        </div>
      <% } else if(typeof success !="undefined" && !success) { %>
        <div class="alert-message-error">
          <%= message %>
        </div>
      <% } %>
    </form>
  </div>
</div>

<section id="mission" class="fade">
  <div class="overlay">
    <div class="container">
      <div class="subcontainer mission-section">
        <div class="mission-header">
          <h1>OUR MISSION</h1>
        </div>
        <div class="mission-statement-box-container">
          <div class="mission-box" data-text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate dolor voluptas est sint earum. Praesentium illo">
            <i class="fas fa-hands-helping"></i>
            <h2>Support LFC</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <p>Learn More</p>
          </div>
          <div class="mission-box" data-text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate dolor voluptas est sint earum. Praesentium illo">
            <i class="fas fa-user-shield"></i>
            <h2>Provide Safe</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <p>Learn More</p>
          </div>
          <div class="mission-box" data-text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate dolor voluptas est sint earum. Praesentium illo">
            <i class="far fa-lightbulb"></i>
            <h2>Promote STEM</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <p>Learn More</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- WHO WE ARE DIV -->
<section id="who-we-are">
  <div class="container">
    <div class="subcontainer who-we-are-section">
      <div class="who-we-are-img"></div>
      <div class="who-we-are-info">
        <h1>WHO WE ARE</h1>
        <p>The LFC Volunteers is the volunteer branch of Loaves, Fishes, and Computers. We are based in Salinas, CA, with around
        XXX members at any given time and over XXX volunteers. Since our founding, LFC volunteers have donated over 110,000
        hours of time. LFC volunteers comprise 95% of the workforce at LFC.</p>
        <div class="button-box" id="show-modal-button" style="font-weight: 500;"><i class="fas fa-user-plus"></i> APPLY</div>
      </div>
    </div>
  </div>
</section>

<!-- POSITIONS DIV -->
<section id="positions">
  <div class="container">
    <div class="subcontainer positions-section">
      <div class="positions-header">
        <h1>POSITIONS</h1>
      </div>
      <div class="positions-boxes">
        <div class="position-box" data-text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate dolor voluptas est sint earum. Praesentium illo">
          <div class="position-img refurbish">
            <h2>Refurbish</h2>
            <p>Learn More</p>
          </div>
        </div>
        <div class="position-box tec" data-text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate dolor voluptas est sint earum. Praesentium illo">
          <div class="position-img technician">
            <h2>Technician</h2>
            <p>Learn More</p>
          </div>
        </div>
        <div class="position-box des" data-text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate dolor voluptas est sint earum. Praesentium illo">
          <div class="position-img desk">
            <h2>Front Desk</h2>
            <p>Learn More</p>
          </div>
        </div>
        <div class="position-box" data-text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate dolor voluptas est sint earum. Praesentium illo">
          <div class="position-img expert">
            <h2>Expert Positions</h2>
            <p>Learn More</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="/js/script.js"></script>

<%- include("partials/footer.ejs") %>