<%- include("partials/header.ejs") %>

<section id="password-reset">
  <div class="container">
    <div class="subcontainer">
      <div class="title-container">
        <h1>Request a Password Reset</h1>
        <br>
        <p>Enter the email you registered with and we will send you a link to reset your password.</p>
      </div>
      <form action="/auth/password-reset" method="POST" id="password-reset-form">
        
        <div class="email-container">
          <input type="email" name="email" id="email" placeholder="Email" maxlength="100" required>
        </div>
        <div class="password-reset-btn-container">
          <button type="submit" class="g-recaptcha" data-sitekey="6LfNj-keAAAAACbPznMW6DDIxOGjMpOB6IgCAU39"
                data-callback="passwordResetRequest">SEND LINK</button>
        </div>
        <% if (typeof success !="undefined" && !success) { %>
          <div class="alert-message-error">
            <p> <%= message %> </p>
          </div>
        <% } %>
      </form>
    </div>
  </div>
</section>

<script src="/js/script.js"></script>

<%- include("partials/footer.ejs") %>