<%- include("partials/header.ejs") %>

<!-- SHOWCASE IMAGE -->
<section id="staff-showcase" class="fade">
  <div class="container">
    <div class="subcontainer staff-showcase-section">
      <h1>Meet Our Staff!</h1>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="subcontainer staff-cards-section">
      <div class="staff-card">
        <div class="staff-img gabriela"></div>
        <div class="staff-info">
          <h1>GABRIELA CHAVEZ</h1>
          <h3>ADMINISTRATIVE EXECUTIVE DIRECTOR</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus minima...
            </p>
            <div class="sc-media">
              <a href="" target="_blank" class="fab fa-linkedin"></a>
            </div>
        </div>
      </div>
      <div>
        <div class="staff-card">
          <div class="staff-img evens"></div>
          <div class="staff-info">
            <h1>EVENS LANOT</h1>
            <h3>PROGRAM & OPERATIONS MANAGER</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus minima...
            </p>
            <div class="sc-media">
              <a href="" class="fab fa-linkedin" target="_blank"></a>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="staff-card">
          <div class="staff-img azalea"></div>
          <div class="staff-info">
            <h1>AZALEA POWER</h1>
            <h3>DIGITAL FLUENCY MANAGER</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus minima...
            </p>
            <div class="sc-media">
              <a href="" class="fab fa-linkedin" target="_blank"></a>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="staff-card">
          <div class="staff-img justo"></div>
          <div class="staff-info">
            <h1>JUSTO MUNOZ</h1>
            <h3>REFURBISHING MANAGER</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus minima...
            </p>
            <div class="sc-media">
              <a href="" class="fab fa-linkedin" target="_blank"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="staff-card">
        <div class="staff-img dalia"></div>
        <div class="staff-info">
          <h1>DALIA GONZALEZ</h1>
          <h3>ADMINISTRATIVE COORDINATOR</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus minima...
            </p>
            <div class="sc-media">
              <a href="" class="fab fa-linkedin" target="_blank"></a>
            </div>
        </div>
      </div>
      <div>
        <div class="staff-card">
          <div class="staff-img andrea"></div>
          <div class="staff-info">
            <h1>ANDREA MONTEZ</h1>
            <h3>COMPUTER LITERACY INSTRUCTOR</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus minima...
            </p>
            <div class="sc-media">
              <a href="" class="fab fa-linkedin" target="_blank"></a>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="staff-card">
          <div class="staff-img marciana"></div>
          <div class="staff-info">
            <h1>MARCIANA YEATER</h1>
            <h3>AMERICORPS VIP FELLOW</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus minima...
            </p>
            <div class="sc-media">
              <a href="" class="fab fa-linkedin" target="_blank"></a>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="staff-card">
          <div class="staff-img volunteers"></div>
          <div class="staff-info">
            <h1>VOLUNTEERS</h1>
            <h3>REFURBISHER, TECHNICIAN, ETC.</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus minima...
            </p>
            <div class="sc-media">
              <a href="" class="fab fa-linkedin" target="_blank"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="/js/script.js"></script>

<%- include("partials/footer.ejs") %>