<%- include("partials/header.ejs") %>

<section id="volunteer-age">
    <div class="container">
        <div class="subcontainer volunteer-age-wrapper">
            <img src="/img/lfc_logo.png" width="200px" height="auto" alt="LFC logo">
            <div class="volunteer-age-headers">
                <h1>Are you at least 18 years old?</h1>
                <p>Don't worry, you can volunteer either way. This is only to determine the forms you have to submit.</p>
            </div>         
            <div class="volunteer-age-btns">
                <a href="/forms-over-18"><button>YES</button></a>
                <a href="/forms-under-18"><button>NO</button></a>
            </div>
        </div>
    </div>
</section>

<script src="/js/script.js"></script>

<%- include("partials/footer.ejs") %>